<!-- Creating something like a navigation bar, div tag = division, creating a section of content below the h1 -->
<!-- href = link refernce from url -->
<header>
    <h1>{{title}}</h1>


    <a href='/'>Weather</a>
    <a href='/about'>About</a>
    <a href='/help'>Help</a>
</header>